In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns

In [7]:
df_data_sentence = pd.read_table('stanfordSentimentTreebank'+'/dictionary.txt', encoding='iso-8859-1' )
df_data_sentence_processed = df_data_sentence['phrases|phrase ids'].str.split('|', expand=True)
df_data_sentence_processed = df_data_sentence_processed.rename(columns={0: 'Phrase', 1: 'phrase_ids'})

# read sentiment labels into df
df_data_sentiment = pd.read_table('stanfordSentimentTreebank' + '/sentiment_labels.txt', encoding='iso-8859-1')
df_data_sentiment_processed = df_data_sentiment['phrase ids|sentiment values'].str.split('|', expand=True)
df_data_sentiment_processed = df_data_sentiment_processed.rename(columns={0: 'phrase_ids', 1: 'sentiment_values'})


#combine data frames containing sentence and sentiment
df_processed_all = df_data_sentence_processed.merge(df_data_sentiment_processed, how='inner', on='phrase_ids')
df_processed_all

,Phrase,phrase_ids,sentiment_values
0,!,0,0.5
1,! ',22935,0.52778
2,! '',18235,0.5
3,! Alas,179257,0.44444
4,! Brilliant,22936,0.86111
...,...,...,...
239227,zoning ordinances to protect your community fr...,220441,0.13889
239228,zzzzzzzzz,179256,0.19444
239229,Ã©lan,220442,0.51389
239230,Ã,220443,0.5
239231,Ã um passatempo descompromissado,220444,0.5

In [8]:
df_processed_all.set_index('phrase_ids', inplace = True)

                                                       Phrase sentiment_values
phrase_ids
0                                                           !              0.5
22935                                                     ! '          0.52778
18235                                                    ! ''              0.5
179257                                                 ! Alas          0.44444
22936                                             ! Brilliant          0.86111
...                                                       ...              ...
220441      zoning ordinances to protect your community fr...          0.13889
179256                                              zzzzzzzzz          0.19444
220442                                                  Ã©lan          0.51389
220443                                                     Ã              0.5
220444                      Ã um passatempo descompromissado              0.5

[239232 rows x 2 columns]

In [13]:
import os
msk = np.random.rand(len(df_processed_all)) < 0.7
train_only = df_processed_all[msk]
test_and_dev = df_processed_all[~msk]


msk_test = np.random.rand(len(test_and_dev)) <0.5
test_only = test_and_dev[msk_test]
dev_only = test_and_dev[~msk_test]

dev_only.to_csv('stanfordSentimentTreebank/dev.csv', index=False)
test_only.to_csv('stanfordSentimentTreebank/test.csv', index=False)
train_only.to_csv('stanfordSentimentTreebank/train.csv', index=False)